body {
    width: 500px;
    height: 485px;

    margin: 0;
    text-align: center;
    /*border: 1px solid green;*/

    background-color: #ddddff;
}

#startStopDiv {
    padding: 9px;
    overflow: hidden;
}

#startStop {
    width: 70px;
    height: 30px;

    border: 1px solid black;
    outline: none;

    font-family: Arial;
    font-weight: bold;
    font-size: 1.3em;
    color: white;
    background-color: #ff5555;

    float: right;
}

#favorites {
    text-align: center;
}

.animation {/*
    width: 80px;
    height: 80px;*/

    margin: 9px;
    display: inline-block;
}

canvas {
    display: inline-block;
    border: 1px solid black;
}

.configurations {
    display: none;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    width: 300px;
    height: 150px;
    background-color: #99a0ff;

}

button {
    outline: none;
}

.jscolor {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border: 2px solid black;
}
